python-telegram-bot[job-queue]>=20.0
llama-cpp-python
torch
torchvision
transformers
sentencepiece
opencv-python
numpy
Pillow
diffusers>=0.26.3
accelerate
safetensors
aiohttp
aiohttp-socks
aiosqlite
python-dotenv
schedule
sentence-transformers
huggingface-hub
pygobject>=3.42.0